@inject SignInManager<KontoUzytkownika> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
  
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }

    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
  
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Dane osobowe</a></li>
    <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Wallet">Saldo</a></li>
    <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="Limits" asp-action="Limits">Limity</a></li>
    <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="UserStats" asp-action="UserStats">Statystki</a></li>
    <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="Zgloszenie" asp-action="FormularzZgloszenie">Zgłoś</a></li>
</ul>
